
.login-container{
    width: 400px;
    padding: 20px;
    
    
    border-radius: 20px;
    }
    h1{
        text-align:center;
    }
    .contact{
        width: 400px;
        margin:100px;
        padding: 20px;
        background-color: rgb(10, 151, 151);
        
        border-radius: 20px;
        }
    h1{
        text-align:center;
    }
    
    button{
        
        padding: 10px;
        background-color:burlywood;
        color:black;
        border-radius:80px;
        
    }
    
    input,textarea{
        width: 95%;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
    }